# =========================
# .NET / Visual Studio
# =========================

bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VSCode
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Test Results
TestResults/

# NuGet
*.nupkg
packages/

# Coverage
coverage/
*.coverage
*.coveragexml

# Publish output
publish/
